html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

label {
  display: block;
  width: 100%;
}

input {
  display: block;
  width: 80%;
  margin: 5% auto;
  font-size: 64px;
}

button {
  display: block;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  font-size: 64px;
}

.p5Canvas {
  outline: 3px solid magenta;
}
